In [423]:
import numpy as np
import pandas as pd

In [424]:
laliga= pd.read_csv("Laliga.csv")

In [425]:
Team=laliga.replace('-',0,inplace = False)

In [426]:
#did a split to get off the special characters
first = Team["Debut"].str.split("-",n=1,expand=True)

In [427]:
Team.insert(19,'Debuts',first[0])

In [428]:
Team["Debuts"]=Team["Debuts"].astype(int)

In [429]:
x=Team['Debuts']
for c in Team['Debuts']:
    if c>1929 and c<1980:
        print(c)
#with this I can print only the values which are true and not the corresponding Team column name.
#I got the answer but need to know how this will work

1931
1934
1939
1932
1941
1939
1948
1944
1935
1949
1933
1960
1951
1941
1977
1959
1935
1961
1940
1930
1963
1974
1943
1977
1941
1962
1978
1971
1963
1947
1945
1953
1979
1950
1956
1951
1955

In [430]:
Team[(Team.Debuts>1929) & (Team.Debuts < 1980)].iloc[:,[1,20]]

                   Team  BestPosition
3              Valencia             1
5               Sevilla             1
8              Zaragoza             2
9            Real Betis             1
10  Deportivo La Coruna             1
11           Celta Vigo             4
12           Valladolid             4
14       Sporting Gijon             2
15              Osasuna             4
16               Malaga             4
17               Oviedo             3
18             Mallorca             3
19           Las Palmas             2
21              Granada             6
22       Rayo Vallecano             8
23                Elche             5
25             Hercules             5
26             Tenerife             5
27               Murcia            11
28               Alaves             6
29              Levante             6
30            Salamanca             7
31             Sabadell             4
32                Cadiz            12
34            Castellon             4
37              Cordoba             5
39           Recreativo             8
40            Burgos CF            12
41           Pontevedra             7
46            Gimnastic             7
49             Alcoyano            10
50                 Jaen            14
52           AD Almeria            10
54               Lleida            16
57               Condal            16
58      Atletico Tetuan            16
59     Cultural Leonesa            15

In [431]:
#converted the object to int as it was giving error 
Team["Points"]=Team['Points'].astype(int)

In [432]:
Team.sort_values(["Points"],ascending=False).head()

,Pos,Team,Seasons,Points,GamesPlayed,GamesWon,GamesDrawn,GamesLost,GoalsFor,GoalsAgainst,...,Runner-up,Third,Fourth,Fifth,Sixth,T,Debut,Since/LastApp,Debuts,BestPosition
0,1,Real Madrid,86,4385,2762,1647,552,563,5947,3140,...,23,8,8,3,4,79,1929,1929,1929,1
1,2,Barcelona,86,4262,2762,1581,573,608,5900,3114,...,25,12,12,4,6,83,1929,1929,1929,1
2,3,Atletico Madrid,80,3442,2614,1241,598,775,4534,3309,...,8,16,9,7,6,56,1929,2002-03,1929,1
3,4,Valencia,82,3386,2664,1187,616,861,4398,3469,...,6,10,11,10,7,50,1931-32,1987-88,1931,1
4,5,Athletic Bilbao,86,3368,2762,1209,633,920,4631,3700,...,7,10,5,8,10,49,1929,1929,1929,1

In [433]:
Team['GoalsFor']= Team['GoalsFor'].astype(int)
Team['GoalsAgainst']= Team['GoalsAgainst'].astype(int)

In [442]:
def Goal_diff_count():
    return Team['GoalsFor']-Team['GoalsAgainst']
Team['Goal_diff_count']=Goal_diff_count()

In [444]:
#not sure how to the corresponding Team, column value for the max value of Goal_diff_count
print(Team['Goal_diff_count'].max())
print(Team['Goal_diff_count'].min())

2807
-525

In [436]:
Team['GamesWon']=Team['GamesWon'].astype(int)
Team['GamesPlayed']=Team['GamesPlayed'].astype(int)

In [437]:
Percentage_of_Winning = (Team["GamesWon"]/Team["GamesPlayed"])*100

In [438]:
Team.insert(6,'Winning Percent',Percentage_of_Winning)

In [439]:
Team.fillna({"Winning Percent":'0%'})

,Pos,Team,Seasons,Points,GamesPlayed,GamesWon,Winning Percent,GamesDrawn,GamesLost,GoalsFor,...,Third,Fourth,Fifth,Sixth,T,Debut,Since/LastApp,Debuts,BestPosition,Goal_diff_count
0,1,Real Madrid,86,4385,2762,1647,59.6307,552,563,5947,...,8,8,3,4,79,1929,1929,1929,1,2807
1,2,Barcelona,86,4262,2762,1581,57.2411,573,608,5900,...,12,12,4,6,83,1929,1929,1929,1,2786
2,3,Atletico Madrid,80,3442,2614,1241,47.4751,598,775,4534,...,16,9,7,6,56,1929,2002-03,1929,1,1225
3,4,Valencia,82,3386,2664,1187,44.5571,616,861,4398,...,10,11,10,7,50,1931-32,1987-88,1931,1,929
4,5,Athletic Bilbao,86,3368,2762,1209,43.7726,633,920,4631,...,10,5,8,10,49,1929,1929,1929,1,931
5,6,Sevilla,73,2819,2408,990,41.113,531,887,3680,...,4,5,12,6,32,1934-35,2001-02,1934,1,307
6,7,Espanyol,82,2792,2626,948,36.1005,608,1070,3609,...,4,5,2,5,16,1929,1994-95,1929,3,-280
7,8,Real Sociedad,70,2573,2302,864,37.5326,577,861,3228,...,2,5,4,3,19,1929,2010-11,1929,1,-2
8,9,Zaragoza,58,2109,1986,698,35.146,522,766,2683,...,4,5,4,4,18,1939-40,2012-13,1939,2,-164
9,10,Real Betis,51,1884,1728,606,35.0694,440,682,2159,...,2,3,4,4,14,1932-33,2015-16,1932,1,-333
10,11,Deportivo La Coruna,45,1814,1530,563,36.7974,392,575,2052,...,4,1,0,1,12,1941-42,2014-15,1941,1,-136
11,12,Celta Vigo,51,1789,1698,586,34.5112,389,723,2278,...,0,2,4,5,11,1939-40,2012-13,1939,4,-346
12,13,Valladolid,42,1471,1466,463,31.5825,384,619,1767,...,0,1,1,1,3,1948-49,2013-14,1948,4,-413
13,14,Racing Santander,44,1416,1428,453,31.7227,336,639,1843,...,1,2,0,1,5,1929,2011-12,1929,2,-525
14,15,Sporting Gijon,43,1389,1458,471,32.3045,358,629,1753,...,1,2,2,1,7,1944-45,2015-16,1944,2,-399
15,16,Osasuna,37,1351,1318,426,32.3217,327,565,1500,...,0,2,2,2,6,1935-36,2016-17,1935,4,-334
16,17,Malaga,36,1314,1255,390,31.0757,330,535,1421,...,0,1,0,1,2,1949-50,2008-09,1949,4,-342
17,18,Oviedo,38,1174,1192,408,34.2282,292,492,1642,...,3,2,2,4,11,1933-34,2000-01,1933,3,-309
18,19,Mallorca,27,1148,988,333,33.7045,256,399,1182,...,2,0,2,1,5,1960-61,2012-13,1960,3,-189
19,20,Las Palmas,33,1020,1096,367,33.4854,242,487,1347,...,1,1,1,1,5,1951-52,2015-16,1951,2,-399
20,21,Villarreal,17,970,646,266,41.1765,172,208,892,...,1,2,3,2,9,1998-99,2013-14,1998,2,103
21,22,Granada,23,667,742,218,29.3801,175,349,819,...,0,0,0,2,2,1941-42,2016-17,1941,6,-338
22,23,Rayo Vallecano,17,662,652,189,28.9877,148,305,760,...,0,0,0,0,0,1977-78,2015-16,1977,8,-328
23,24,Elche,21,606,678,203,29.941,180,295,750,...,0,0,1,1,2,1959-60,2014-15,1959,5,-272
24,25,Getafe,12,553,456,147,32.2368,112,197,520,...,0,0,0,1,1,2004-05,2015-16,2004,6,-113
25,26,Hercules,20,538,628,184,29.2994,149,295,716,...,0,0,1,4,5,1935-36,2010-11,1935,5,-334
26,27,Tenerife,13,510,494,155,31.3765,128,211,619,...,0,0,2,0,2,1961-62,2009-10,1961,5,-125
27,28,Murcia,18,445,586,145,24.744,143,298,607,...,0,0,0,0,0,1940-41,2007-08,1940,11,-385
28,29,Alaves,12,421,380,125,32.8947,81,174,458,...,0,0,0,1,1,1930-31,2016-17,1930,6,-165
29,30,Levante,11,416,402,113,28.1095,95,194,430,...,0,0,0,1,1,1963-64,2015-16,1963,6,-202
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31,32,Sabadell,14,353,426,129,30.2817,95,202,492,...,0,1,1,0,2,1943-44,1987-88,1943,4,-228
32,33,Cadiz,12,343,448,104,23.2143,127,217,393,...,0,0,0,0,0,1977-78,2005-06,1977,12,-269
33,34,Logrones,9,293,346,96,27.7457,92,158,291,...,0,0,0,0,0,1987-88,1996-97,1987,7,-198
34,35,Castellon,11,285,334,103,30.8383,79,152,419,...,0,1,2,0,3,1941-42,1990-91,1941,4,-169
35,36,Albacete,7,277,270,76,28.1481,76,118,320,...,0,0,0,0,0,1991-92,2004-05,1991,7,-90
36,37,Almeria,6,242,228,62,27.193,56,110,244,...,0,0,0,0,0,2007-08,2014-15,2007,8,-122
37,38,Cordoba,9,230,282,82,29.078,63,137,285,...,0,0,1,0,1,1962-63,2014-15,1962,5,-145
38,39,Compostela,4,190,160,52,32.5,45,63,199,...,0,0,0,0,0,1994-95,1997-98,1994,10,-42
39,40,Recreativo,5,188,186,50,26.8817,46,90,202,...,0,0,0,0,0,1978-79,2008-09,1978,8,-94
40,41,Burgos CF,6,168,204,59,28.9216,50,95,216,...,0,0,0,0,0,1971-72,1979-80,1971,12,-94
41,42,Pontevedra,6,150,180,53,29.4444,44,83,165,...,0,0,0,0,0,1963-64,1969-70,1963,7,-56
42,43,Numancia,4,148,152,37,24.3421,37,78,155,...,0,0,0,0,0,1999-00,2008-09,1999,17,-98
43,44,Eibar,3,132,114,35,30.7018,27,52,139,...,0,0,0,0,0,2014-15,2014-15,2014,10,-28
44,45,Arenas,7,107,130,43,33.0769,21,66,227,...,1,0,3,0,4,1929,1934-35,1929,3,-81
45,46,Real Burgos,3,96,114,26,22.807,44,44,101,...,0,0,0,0,0,1990-91,1992-93,1990,9,-38
46,47,Gimnastic,4,91,116,34,29.3103,16,66,181,...,0,0,0,0,0,1947-48,2006-07,1947,7,-114
47,48,Extremadura,2,83,80,20,25,23,37,62,...,0,0,0,0,0,1996-97,1998-99,1996,17,-55
48,49,Merida,2,81,80,19,23.75,24,37,70,...,0,0,0,0,0,1995-96,1997-98,1995,19,-45
49,50,Alcoyano,4,76,108,30,27.7778,16,62,145,...,0,0,0,0,0,1945-46,1950-51,1945,10,-107
50,51,Jaen,3,71,90,29,32.2222,13,48,121,...,0,0,0,0,0,1953-54,1957-58,1953,14,-62
51,52,Real Union,4,56,72,21,29.1667,14,37,153,...,0,0,0,1,1,1929,1931-32,1929,6,-31
52,53,AD Almeria,2,52,68,17,25,18,33,71,...,0,0,0,0,0,1979-80,1980-81,1979,10,-45
53,54,Europa,3,42,54,18,33.3333,6,30,97,...,0,0,0,0,0,1929,1930-31,1929,8,-34
54,55,Lleida,2,40,68,13,19.1176,14,41,70,...,0,0,0,0,0,1950-51,1993-94,1950,16,-112
55,56,Leganes,1,35,38,8,21.0526,11,19,36,...,0,0,0,0,0,2016-17,2016-17,2016,17,-19
56,57,Xerez,1,34,38,8,21.0526,10,20,38,...,0,0,0,0,0,2009-10,2009-10,2009,20,-28
57,58,Condal,1,22,30,7,23.3333,8,15,37,...,0,0,0,0,0,1956-57,1956-57,1956,16,-20
58,59,Atletico Tetuan,1,19,30,7,23.3333,5,18,51,...,0,0,0,0,0,1951-52,1951-52,1951,16,-34
59,60,Cultural Leonesa,1,14,30,5,16.6667,4,21,34,...,0,0,0,0,0,1955-56,1955-56,1955,15,-31
60,61,Girona,1,0,0,0,0%,0,0,0,...,0,0,0,0,0,2017-18,2017-18,2017,9,0

In [440]:
Team.sort_values(['Winning Percent'],ascending=False).head()

,Pos,Team,Seasons,Points,GamesPlayed,GamesWon,Winning Percent,GamesDrawn,GamesLost,GoalsFor,...,Third,Fourth,Fifth,Sixth,T,Debut,Since/LastApp,Debuts,BestPosition,Goal_diff_count
0,1,Real Madrid,86,4385,2762,1647,59.630702,552,563,5947,...,8,8,3,4,79,1929,1929,1929,1,2807
1,2,Barcelona,86,4262,2762,1581,57.241130,573,608,5900,...,12,12,4,6,83,1929,1929,1929,1,2786
2,3,Atletico Madrid,80,3442,2614,1241,47.475134,598,775,4534,...,16,9,7,6,56,1929,2002-03,1929,1,1225
3,4,Valencia,82,3386,2664,1187,44.557057,616,861,4398,...,10,11,10,7,50,1931-32,1987-88,1931,1,929
4,5,Athletic Bilbao,86,3368,2762,1209,43.772629,633,920,4631,...,10,5,8,10,49,1929,1929,1929,1,931

In [441]:
Team.groupby('BestPosition').sum()

,Pos,Seasons,Points,GamesPlayed,GamesWon,Winning Percent,GoalsFor,GoalsAgainst,Debuts,Goal_diff_count
BestPosition,,,,,,,,,,
1,50,659,27933,21532,9888,403.189019,36529,28015,17383,8514
2,79,195,6904,6614,2255,173.835110,8518,9902,9761,-1384
3,89,154,5221,4936,1732,137.110098,6660,7519,7751,-859
4,125,191,6563,6497,2097,190.611137,7877,9709,11655,-1832
5,115,63,1884,2082,624,119.694898,2370,3246,7817,-876
6,158,62,2113,2052,624,151.787752,2380,3229,9767,-849
7,190,38,1186,1335,382,143.726616,1379,1996,9862,-617
8,154,31,1134,1120,319,116.395766,1303,1881,7891,-578
9,107,4,96,114,26,22.807018,101,139,4007,-38
10,186,13,450,450,134,115.979532,554,776,7932,-222
11,28,18,445,586,145,24.744027,607,992,1940,-385
12,74,18,511,652,163,52.135854,609,972,3948,-363
14,51,3,71,90,29,32.222222,121,183,1953,-62
15,60,1,14,30,5,16.666667,34,65,1955,-31
16,172,4,81,128,27,65.784314,158,324,5857,-166
17,147,7,266,270,65,70.394737,253,425,6011,-172
19,49,2,81,80,19,23.750000,70,115,1995,-45
20,57,1,34,38,8,21.052632,38,66,2009,-28